<header>
    <ul>
        <li><a [routerLink]="['home', 1]">Home 1</a></li>
        <li><a [routerLink]="['home', 2]" [queryParams]="{ message: 'Hello Home 2'}">Home 2</a></li>

        <li><a [routerLink]="['about']">About</a></li>
        <li><a [routerLink]="['admin']">Admin</a></li>

        <!-- <li><a [routerLink]="['login']">Login</a></li> -->
        <!-- <li><a [routerLink]="['dashboard']">Dashboard</a></li>
        <li><a [routerLink]="['servers']">Servers</a></li> -->

        <li><a [routerLink]="['pipes']">Pipes</a></li>
        <li><a [routerLink]="['projection']">Projection</a></li>
    </ul>    
</header>
